<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <h3 class="footer-title"><a href="http://designmodo.com/flat-free" target="_blank">OBid</a></h3>
        <p>Do you like this freebie? Want to get more stuff like this?<br/> Subscribe to designmodo news and updates to stay
          tuned on great designs.<br/> Go to: <a href="http://designmodo.com/flat-free" target="_blank">designmodo.com/flat-free</a>
        </p>

      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 ">
        <p class="text-muted text-center">Copyright &copy; OBid <span ng-bind="::vm.currentDate"></span></p>
      </div>
    </div>
</footer>