<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="index.html">
        <img style="width: 65px;" alt="Brand" src="src/assets/img/brand/logo.png"> Bid Day
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Auctions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href ui-sref="current-auctions">Current Auctions</a>
            </li>
            <li>
              <a href ui-sref="featured-auctions">Featured Auctions</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href ui-sref="category">categorie 1</a>
            </li>
            <li>
              <a href ui-sref="category">categorie 2</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href ui-sref="faq">FAQ</a>
            </li>
            <li>
              <a href ui-sref="contact">Contact</a>
            </li>
          </ul>
        </li>
        <li ui-sref-active="active">
          <a href ui-sref="about">About</a>
        </li>
      </ul>
      <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
        </li>-->
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
          <a href ui-sref="dashboard"><span class="fa fa-tachometer"></span> Dashboard</a>
        </li>
        <li ui-sref-active="active">
          <a href ui-sref="signup"><span class="fa fa-user-plus"></span> Sign Up</a>
        </li>
        <li ui-sref-active="active">
          <a href ui-sref="login"><span class="fa fa-sign-in"></span> Login</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>